<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | McGill initiative in Computational Medicine - McGill University</title>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <link href="/styles/main.css" rel="stylesheet" />

    {% if page.url == "/classes/" %}
    <script src="https://ajax.googleapis.com/ajax/libs/d3js/5.7.0/d3.min.js"></script>
    <script src="/scripts/compare-strings.js" defer></script>
    <script src="/scripts/classes.js" defer></script>
    {% endif %}
</head>
<body>

<header>
    <div class="header__content">
        <div class="header__content__logo">
            <a href="https://www.mcgill.ca/">
                <img src="/img/mcgill_logo.svg" alt="McGill Logo">
            </a>
        </div>
        <h1 class="header__content__site_title">
            McGill initiative in <br>
            Computational Medicine
        </h1>
    </div>
</header>
<nav class="main_nav">
    <div class="main_nav__content">
        <ul class="main_nav__links">
          {#<ul class="main_nav__links"><li class="main_nav__item active">#}
                      {#<a href="/" class="main_nav__link">Home</a>#}
                  {#</li><li class="main_nav__item ">#}
                      {#<a href="/about/" class="main_nav__link">About</a>#}
                  {#</li><li class="main_nav__item ">#}
                      {#<a href="/profiles/" class="main_nav__link">Profiles</a>#}
                  {#</li><li class="main_nav__item ">#}
                      {#<a href="/events/" class="main_nav__link">Events</a>#}
                      {#<li class="main_nav__item ">#}
                                  {#<a href="/job_opportunities/" class="main_nav__link">Job Opportunities</a>#}
                              {#</li>#}
                  {#</li><li class="main_nav__item ">#}
                      {#<a href="/classes/" class="main_nav__link">Classes</a>#}
                  {#</li><li class="main_nav__item ">#}
                      {#<a href="/uniweb/" class="main_nav__link">uniweb</a>#}
                  {#</li><li class="main_nav__item ">#}
                      {#<a href="/contact/" class="main_nav__link">Contact</a>#}
                  {#</li></ul>#}





            {%- for p in collections.page -%}
                <li class="main_nav__item {{ 'active' if p.data.url === page.url else '' }}">
                    <a href="{{ p.data.url }}" class="main_nav__link">{{ p.data.title }}</a>
                </li>
            {%- endfor -%}-->
        </ul>
    </div>
</nav>

<main>
    <div class="main__content">
        {{ content | safe }}
    </div>
</main>

<footer class="site_footer">
    <div class="site_footer__content">
        <div class="site_footer__column">
            <div class="site_footer__logo">
                <img src="/img/logo_micm.svg" alt="McGill initiative in Computational Medicine Logo">
            </div>
            <address class="site_footer__address">
                740 Dr. Penfield Avenue <br>
                Montreal, Quebec <br>
                Canada, H3A 0G1 <br>
                email: <a href="mailto:info-micm@mcgill.ca">info-micm@mcgill.ca</a>
            </address>
        </div>
        <div class="site_footer__column">
            <a href="#" id="sign-up">Sign up to our newsletter</a>
        </div>
    </div>
</footer>

<footer class="mcgill_footer">
    <div class="mcgill_footer__content">
        <div class="mcgill_footer__logo">
            <img src="/img/mcgill_watermark.svg" alt="McGill Watermark">
        </div>
        <div class="mcgill_footer__copyright">
            Copyright &copy; 2019 McGill University
        </div>
    </div>
</footer>

</body>
</html>
