---
layout: base.njk
---

<div class="slider">
    <div class="slider__slides">
        {% for slide in collections.slide %}
            <div class="slider__slide">
                <div class="slide__info">
                    <h2>{{ slide.data.title }}</h2>
                    {{ slide.templateContent | safe }}
                </div>
                <img src="/img/slider/{{ slide.data.image }}" alt="{{ slide.data.alt }}">
            </div>
        {% endfor %}
    </div>
    <div class="slider__thumbs">
        {% for slide in collections.slide %}
            <div class="slider__thumb">
                <img src="/img/slider/{{ slide.data.image }}" alt="Thumbnail for {{ slide.data.alt }}">
            </div>
        {% endfor %}
    </div>
</div>

{{ content | safe }}
